<!--
COLUNA ESQUERDA
-->
<div class="col-sm-5">
    <!--facebook timeline-->
    <div class="panel panel-default">
        <div class="panel-heading"><img src="assets/img/facebook-logo.png"
                                        class="social-facebook-img"></div>
        <div class="panel-body social-scroll">
            <div ng-repeat="post in post.facebook">
                {{post}}
                <hr>
            </div>
        </div>
    </div>
    <!--facebook post-->
    <div class="well">
        <form class="form-horizontal" role="form">
            <h4>O que você deseja compartilhar?</h4>

            <div class="form-group" style="padding:14px;">
                <input class="form-control" placeholder="Atualize seu status no Facebook"  ng-model="post.publicarpost">
            </div>
            <!--
            url
            -->
            <div id="url-imagem-facebook" class="collapse">
                <div class="modal-body">
                    <div class="form-group" style="padding:14px;">
                        <input type="text" class="form-control input-lg" autofocus=""
                               placeholder="Digite a url da imagem" id="input-facebook-url"
                               name="textarea-post-mensagem" ng-model="post.publicarposturl">
                    </div>
                </div>
            </div>
            <!--
             url
             -->
            <button data-ng-click="post.publicar()" class="btn btn-primary pull-right" type="button">Post</button>
            <ul class="list-inline">
                <li><a data-toggle="collapse" href="#url-imagem-facebook"><i class="glyphicon glyphicon-camera"></i></a>
                </li>
            </ul>
        </form>
    </div>

    <!--twitter timeline-->
    <div class="panel panel-default">
        <div class="panel-heading"><img src="assets/img/twitter-logo.png"
                                        class="social-twitter-img"></div>
        <div class="panel-body social-scroll">
            <div ng-repeat="tweet in post.twitter">
                <button data-ng-click="post.retweet(tweet)"
                        class="btn btn-info btn-sm button-box-inicio"><i
                        class="glyphicon glyphicon-retweet"></i>
                </button>
                {{tweet}}
                <hr>
            </div>
        </div>
    </div>
    <!--tweet-->
    <div class="well">
        <form class="form-horizontal" role="form">
            <h4>O que você deseja compartilhar?</h4>

            <div class="form-group" style="padding:14px;">
                <input id = "input-tweet" class="form-control" placeholder="Atualize seu status no Twitter" ng-model="post.publicartweet">
            </div>
            <!--url-->
            <div id="url-imagem-twitter" class="collapse">
                <div class="modal-body" style="padding: 14px;">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" autofocus=""
                               placeholder="Digite a url da imagem" id="input-tweet-url"
                               name="textarea-post-mensagem" ng-model="post.publicartweeturl">
                    </div>
                </div>
            </div>
            <!--
             url
             -->
            <button data-ng-click="post.tweet()" class="btn btn-primary pull-right" type="button"> Tweet</button>
            <ul class="list-inline">
                <li><a data-toggle="collapse" href="#url-imagem-twitter"><i class="glyphicon glyphicon-camera"></i></a>
                </li>
            </ul>
        </form>
    </div>
</div>
</div>
<!--
/COLUNA ESQUERDA
-->