<!--
COLUNA ESQUERDA
-->
<div class="col-sm-5">
    <!--facebook timeline-->
    <div class="panel panel-default">
        <div class="panel-heading"><img src="assets/img/facebook-logo.png"
                                        class="social-facebook-img"></div>
        <div class="panel-body social-scroll">
            <div ng-repeat="post in post.facebook">
                {{post}}
                <hr>
            </div>
        </div>
    </div>
    <!--facebook post-->
    <div class="well">
        <form class="form-horizontal" role="form">
            <h4>O que você deseja compartilhar?</h4>

            <div class="form-group" style="padding:14px;">
                                            <textarea class="form-control"
                                                      placeholder="Atualize seu status no Facebook"></textarea>
            </div>
            <button class="btn btn-primary pull-right" type="button">Post</button>
            <ul class="list-inline">
                <li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
                <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
            </ul>
        </form>
    </div>

    <!--twitter timeline-->
    <div class="panel panel-default">
        <div class="panel-heading"><img src="assets/img/twitter-logo.png"
                                        class="social-twitter-img"></div>
        <div class="panel-body social-scroll">
            <div ng-repeat="post in post.twitter">
                {{post}}
                <hr>
            </div>
        </div>
        <!--tweet-->
        <div class="well">
            <form class="form-horizontal" role="form">
                <h4>O que você deseja compartilhar?</h4>

                <div class="form-group" style="padding:14px;"><textarea class="form-control"
                                                                        placeholder="Atualize seu status no Twitter"></textarea>
                </div>
                <button class="btn btn-primary pull-right" type="button"> Tweet</button>
                <ul class="list-inline">
                    <li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
                    <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                    <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<!--
/COLUNA ESQUERDA
-->