<div id="followersModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                Followers
            </div>
            <div class="panel-body social-scroll" style="height: 650px;">
                <div ng-repeat="followers in post.followers">
                    <a data-ng-click="post.selecionarUsuario(followers)" ><img ng-src="{{followers.imagem}}"
                                     class="user-img"><span style="color: red"> {{followers.nome}}</span></a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>