<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>CaraLivro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--CSS-->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--REDE-SOCIAL-CSS-->
    <link href="assets/css/social-custom-template.css" rel="stylesheet">
    <!--FRAMEWORKS-->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <!--END FRAMEWORKS-->
    <!--REDE-SOCIAL-SCRIPTS-->
    <script src="assets/js/social-sidebar-toggle.js"></script>
    <script src="assets/js/teste1.js"></script>
</head>
<body ng-app="redeApp" ng-controller="main">
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
            <!--
            sidebar
            -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

                <ul class="nav">
                    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i
                            class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
                <ul class="nav hidden-xs" id="lg-menu">
                    <li><a href="#"><img src="assets/img/storm-user.jpg"
                                         class="user-img"><span> {{user}}</span></a></li>
                    <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Destaques</a>
                    </li>
                    <li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>

                </ul>
                <!-- dispositivos pequenos apenas-->
                <ul class="nav visible-xs" id="xs-menu">
                    <li><a href="#"><i class="glyphicon glyphicon glyphicon-user"></i><span> {{user}}</span></a>
                    </li>
                    <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                    <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
                </ul>

                <!--hashTag assuntos populares-->
                <div>
                    <br/>
                    <span><img src="assets/img/hash.png"> Tags</span>

                    <ul class="nav hidden-xs" id="hashtag">
                        <br/>
                        <li><a href="#"> #Uhuu</a></li>
                        <li><a href="#"> #Uhuu</a></li>
                        <li><a href="#"> #Uhuu</a></li>
                    </ul>
                </div>
                <!--logo-->
                <div>
                    <label class="logo-img-sidebar"></label>
                </div>
            </div>
            <!--
            /sidebar
             -->
            <!-- coluna central do projeto -->
            <div class="column col-sm-10 col-xs-11" id="main">
                <!--
                TOP NAVBAR
                -->
                <div class="navbar navbar-blue navbar-static-top">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="" class="navbar-brand logo-img"></a>
                    </div>
                    <nav class="collapse navbar-collapse" role="navigation">
                        <form class="navbar-form navbar-left">
                            <div class="input-group input-group-sm" style="max-width:360px;">
                                <input type="text" class="form-control" placeholder="Buscar" name="srch-term"
                                       id="srch-term">

                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i
                                            class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
                            </li>
                            <li>
                                <a href="#postModal" role="button" data-toggle="modal"><i
                                        class="glyphicon glyphicon-plus"></i> Post</a>
                            </li>
                            <li>
                                <a href="#"><span class="badge">badge</span></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="glyphicon glyphicon-user">&nbsp</i></a> <!-- espaco &nbsp-->
                                <ul class="dropdown-menu">
                                    <li><a href="">More</a></li>
                                    <li><a href="">More</a></li>
                                    <li><a href="">More</a></li>
                                    <li><a href="">More</a></li>
                                    <li><a href="">More</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--
                /TOP NAVBAR
                -->
                <!--
                CONTEUDO PRINCIPAL
                -->
                <div class="padding">
                    <div class="full col-sm-9">
                        <!--DIV CONTEUDO PAGINA -->
                        <div class="row">
                            <!--
                            COLUNA ESQUERDA
                            -->
                            <div class="col-sm-5">
                                <!--facebook timeline-->
                                <div class="panel panel-default">
                                    <div class="panel-heading"><img src="assets/img/facebook-logo.png"
                                                                    class="social-facebook-img"></div>
                                    <div class="panel-body">
                                        <div class="panel-group" id="facebook-timeline">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse"
                                                       data-parent="#facebook-timeline" href="#facebook-timeline-1">
                                                        Heitor</a>
                                                </div>
                                                <div id="facebook-timeline-1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        Ola mundo ...
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse"
                                                       data-parent="#facebook-timeline" href="#facebook-timeline-2">
                                                        Isabela</a>
                                                </div>
                                                <div id="facebook-timeline-2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Ola mundo ...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--facebook post-->
                                <div class="well">
                                    <form class="form-horizontal" role="form">
                                        <h4>O que você deseja compartilhar?</h4>

                                        <div class="form-group" style="padding:14px;">
                                            <textarea class="form-control"
                                                      placeholder="Atualize seu status no Facebook"></textarea>
                                        </div>
                                        <button class="btn btn-primary pull-right" type="button">Post</button>
                                        <ul class="list-inline">
                                            <li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
                                            <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                                            <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
                                        </ul>
                                    </form>
                                </div>

                                <!--twitter timeline-->
                                <div class="panel panel-default">
                                    <div class="panel-heading"><img src="assets/img/twitter-logo.png"
                                                                    class="social-twitter-img"></div>
                                    <div class="panel-body">
                                        <div class="panel-group" id="twitter-timeline">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse"
                                                       data-parent="#twitter-timeline" href="#twitter-timeline-1">
                                                        Heitor</a>
                                                </div>
                                                <div id="twitter-timeline-1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        Ola mundo ...
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse"
                                                       data-parent="#twitter-timeline" href="#twitter-timeline-2">
                                                        Isabela</a>
                                                </div>
                                                <div id="twitter-timeline-2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Ola mundo ...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tweet-->
                                <div class="well">
                                    <form class="form-horizontal" role="form">
                                        <h4>O que você deseja compartilhar?</h4>

                                        <div class="form-group" style="padding:14px;">
                                            <input  ng-model="mensagem" class="form-control"
                                                      placeholder="Atualize seu status no Twitter">
                                            <input  ng-model="imagem" class="form-control"
                                                       placeholder="Atualize seu status no Twitter">
                                        </div>
                                        <button data-ng-click="newPost()" class="btn btn-primary pull-right"> Tweet</button>
                                        <ul class="list-inline">
                                            <li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
                                            <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                                            <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                            <!--
                            /COLUNA ESQUERDA
                            -->
                            <!--
                            COLUNA DIREITA
                            -->
                            <div class="col-sm-7">
                                <!--
                                <div class="well">
                                    <form class="form">
                                        <h4>Buscar post</h4>

                                        <div class="input-group text-center">
                                            <input type="text" class="form-control input-lg"
                                                   placeholder="Digite o título do post.." ng-model="main.searchInput">
                                            <span class="input-group-btn"><button class="btn btn-lg btn-primary"
                                                                                  type="button">OK
                                            </button></span>
                                        </div>
                                    </form>
                                </div>
                                  -->
                                <!--
                                Colocar em loop
                                -->
                                <!--ordenar os post-->
                                <!--
                                <div>
                                    <select class="form-control pull-right" ng-model="main.order"
                                            ng-options="order as order.title for order in main.orders"></select>
                                    <br/> <br/>
                                </div>
                                -->
                                <div class="panel panel-default">
                                    <div ng-repeat="feed in feeds">
                                        <div class="panel-heading">
                                            <h4>{{feed.post}}</h4>
                                        </div>
                                        <div class="panel-body">
                                            {{feed.image}}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!--
                                Colocar em loop
                                -->
                                <!--
                                Post com imagem
                                -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>
                                            <button class="btn btn-danger btn-sm"><i
                                                    class="glyphicon glyphicon-trash"></i>
                                            </button>
                                            Titulo da publicacao
                                        </h4>

                                    </div>
                                    <div class="panel-thumbnail"><img src="assets/img/bg_4.jpg"
                                                                      class="img-responsive"></div>

                                    <div class="panel-body">
                                        Escrever algo

                                    </div>
                                </div>
                                <!--
                               Post com imagem
                               -->

                            </div>
                            <!--
                            /COLUNA DIREITA
                            -->
                        </div>
                        <!--
                        DIV CONTEUDO PAGINA
                        -->
                        <!--
                        Footer
                        -->
                        <footer class="text-center">
                            <div class="footer-above">
                                <div class="container">
                                    <div class="footer-col col-md-12">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#" class="btn-social btn-outline"><i
                                                        class="fa fa-fw fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn-social btn-outline"><i
                                                        class="fa fa-fw fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn-social btn-outline"><i
                                                        class="fa fa-fw fa-twitter"></i></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="footer-below">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                Copyright &copy; Heitor and Isabela, 2015
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!--
                        /Footer
                        -->
                    </div>
                </div>
            </div>
            <!--
            /CONTEUDO PRINCIPAL
            -->
        </div>
    </div>
</div>
<!--
JANELA SO APARECE AO PRESSIONADA
<!--
POST
-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                Status
            </div>
            <div class="modal-body">
                <form class="form center-block">
                    <div class="form-group">
                        <textarea class="form-control input-lg" autofocus=""
                                  placeholder="O que você está pensando?" id="textarea-post-mensagem"
                                  name="textarea-post-mensagem" ng-model="mensagem"></textarea>
                    </div>
                    <!--
                    url
                    -->
                    <div id="url-imagem" class="collapse">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" autofocus=""
                                       placeholder="Digite a url da imagem" id="input-post-url"
                                       name="textarea-post-mensagem" ng-model="imagem">
                            </div>
                        </div>
                    </div>
                    <!--
                     url
                     -->
                    <div class="modal-footer">
                        <div>
                            <button data-ng-click="newPost()" class="btn btn-primary btn-sm" data-dismiss="modal"
                                    aria-hidden="true">Post
                            </button>
                            <ul class="pull-left list-inline">
                                <li><a data-toggle="collapse" href="#url-imagem"><i
                                        class="glyphicon glyphicon-upload"></i></a>
                                </li>
                                <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                                <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
/POST
-->
</body>
</html>